extends layout

block content
  h1
    | THE REDDIT SPIDER
  p
    | Welcome to the Reddit Spider. It allows to search for comments containing a specified string in subreddits.
  form(action="/search", method="POST")
    table
      tr
        td
          | subreddit (subreddit to search in - e.g. /r/history - optional)
        td
          input(name="url")
      tr
        td
          | searchString (string to search for in comments - required)
        td
          input(name="searchString", pattern=".{4,}", title="4 characters minimum")
      tr
        td
          button(type="submit")
            | Submit