extends layout

block content
  h1= title
  ul
    each link in links
      li
        a(href="#{link.href}")
          | #{link.text}

  form(action="/search")
    table
      tr
        td
          | url
        td
          input(name="url")
      tr
        td
          | searchString
        td
          input(name="searchString")
      tr
        td
          input(type="submit")

